<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <!-- Dashboard -->
            <a href="/" 
               class="list-group-item list-group-item-action py-2 {% if request.resolver_match.url_name == 'index' %}active{% endif %}" 
               aria-current="true">
                <i class="fas fa-home fa-fw me-3"></i>
                <span>Main dashboard</span>
            </a>
            
            <!-- Data Karyawan -->
            <a href="/data_karyawan" 
               class="list-group-item list-group-item-action py-2 {% if request.resolver_match.url_name == 'data_karyawan' %}active{% endif %}">
                <i class="far fa-id-card fa-fw me-3"></i>
                <span>Data Karyawan</span>
            </a>
            
            <!-- Input Data -->
            <!-- <a href="/input_karyawan" 
               class="list-group-item list-group-item-action py-2 {% if request.resolver_match.url_name == 'input_karyawan' %}active{% endif %}">
                <i class="far fa-address-book fa-fw me-3"></i>
                <span>Input Data</span>
            </a> -->
            
            <!-- Logout -->
            <a href="#" class="list-group-item list-group-item-action py-2">
                <i class="fas fa-lock fa-fw me-3"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>