{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Data Karyawan{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Input Data
        </button>
    </div>
</div>

<!-- Table Card -->
<div class="card">
    <div class="card-body">
        <h1>dashboard</h1>
        </div>
    </div>
</div>
{% endblock %}